<%include ../partials/header%>

<div class="container">
	<h1 class="mx-auto" style="text-align: center;">Add New Comment to <%=campground.name%></h1>
	<div class="row">
		
		<div class="mx-auto" style="width: 30%;">
			<form name="camp" action="/campgrounds/<%=campground._id%>/comments" method="post">
			<input class="form-control " type="text" name="comment[author]" placeholder="Author" required="true">
			<input class="form-control " type="text" name="comment[text]" placeholder="Comment" required="false"><br/>
			<input class="btn btn-lg btn-primary btn-block" type="submit" name="submit">
 		</form>
 		<a href="/campgrounds">Go Back</a>
		</div>
	</div>

 </div>
<%include ../partials/footer%>
