<%include partials/header %>
<div class="container">
	<h1><p>Welcome to YelpCamp</p></h1>
	<div class="mx-auto" style="width: 100%">
			<form name="user" action="/" method="post">
				<input type="text" name="username" value="pa1193">
				<input type="text" name="password" value="pa1193">
					<br/>
				<input type="submit" name="submit">
			</form>
			
		<a href="/campgrounds">view all campgrounds</a>
	</div>			
</div>
<% include partials/footer %>